<div fxLayout="column">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <h2 mat-dialog-title class="height-8">Usuários cadastrados</h2>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <button id="btCadastrar" mat-raised-button color="primary" (click)="adicionar()">
      Cadastrar
    </button>
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <table *ngIf="usuarios.length>0" id="tbUsuarios" mat-table [dataSource]="usuarios">
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef class="width-60">Nome</th>
          <td mat-cell *matCellDef="let element" class="width-60">
            {{element.nome}}</td>
        </ng-container>
        <ng-container matColumnDef="login">
          <th mat-header-cell *matHeaderCellDef>Login</th>
          <td mat-cell *matCellDef="let element">
            {{element.login}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <h5 *ngIf="usuarios.length==0" mat-dialog-title class="height-8">Não há usuários cadastrados</h5>
    </div>
  </div>
</div>
