<div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="end end">
  <mat-icon color="black" (click)="fecharModal()" matTooltip="Fechar" class="cursor-pointer margin-right-5px">clear
  </mat-icon>
</div>
<h2 mat-dialog-title class="height-8">Cadastrar usuário</h2>
<mat-dialog-content class="max-height-80">
  <form (ngSubmit)="cadastrar()" fxLayout="column" id="formUsuario" [formGroup]="formUsuario" form>
    <div fxLayout="row">
      <mat-form-field fxFlex="100">
        <input type="text" id="nome" name="nome" formControlName="nome" placeholder="Nome" matInput>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex="100">
        <input type="text" id="login" name="login" formControlName="login" placeholder="Login" matInput>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex="100">
        <input type="password" id="senha" name="senha" formControlName="senha" placeholder="Senha" matInput>
      </mat-form-field>
    </div>
    <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="space-between center">
      <button id="btCancelar" mat-raised-button class="secondary" (click)="fecharModal()" type="button">Cancelar</button>
      <button id="btSalvar" mat-raised-button color="primary" type="submit">Salvar</button>
    </div>
  </form>

</mat-dialog-content>
