/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.width-60 {
  width: 60%;
}

.padding-0-24-16 {
  padding: 0 24px 16px;
}
